In [1]:
#1

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [40]:
harfler = ['a', 'b', 'c', 'ç', 'd','e','f','g','ğ','h']
testframe = pd.DataFrame(index=harfler)
#testframe.index.name = 'harf'
#testframe

n=1
fibo=[1]

while n < 50:
    if len(fibo) == 1:
        fibo.append(n)
    else:
        n = fibo[len(fibo)-2]+fibo[len(fibo)-1]
        fibo.append(n)
        
#print(fibo) 

testframe['fibo'] = np.array(fibo)

asal=[]
for x in range(1,101):
    count=0
    if x<=2:
        asal.append(x)
        #print (x,end=" ")
    elif x%2!=0:
        for y in range(2,x//2):
            if (x%y)==0:
                count+=1
        if count==0:
            if len(asal) < 10:
                asal.append(x)
                #print (x, end=" ")
                
testframe['asal'] = np.array(asal)              
  
testframe

   fibo  asal
a     1     1
b     1     2
c     2     3
ç     3     5
d     5     7
e     8    11
f    13    13
g    21    17
ğ    34    19
h    55    23

In [41]:
#2

In [49]:
df = pd.read_csv('train.csv')
df.groupby('Sex').agg({'Age': ['mean']})

              Age
             mean
Sex
female  27.915709
male    30.726645

In [50]:
#3

In [59]:

df2=df[df['Age'] < 30.0]
df2.agg({'Survived': ['mean']})

      Survived
mean  0.410938

In [58]:
df2.groupby('Sex').agg({'Survived': ['mean']})

        Survived
            mean
Sex
female  0.714286
male    0.215190